@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

@theme static {
  --font-display: 'Montserrat', sans-serif;
  --font-body: 'Figtree', sans-serif;

  --color-bg: #f4f7ff; /* icy white */
  --color-surface: #e8eeff; /* cool blue card */
  --color-text: #050a1e; /* near-black cool */
  --color-muted: #4a5580; /* slate blue */
  --color-accent-1: #2273f3; /* cobalt blue */
  --color-accent-2: #ff9f6f; /* chartreuse */
  --background-image-gradient-1: linear-gradient(135deg, #f4f7ff 30%, #9ec1fa70);
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    background-color: var(--color-bg);
    color: var(--color-accent-1);
    font-family: var(--font-body);
    -webkit-font-smoothing: antialiased;
    margin: 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-display);
    color: var(--color-blue);
    margin: 0;
  }
  a,
  p,
  span {
    @apply tracking-[0.02em];
  }

  * {
    box-sizing: border-box;
  }
}

@keyframes shrinkgrow {
  0%,
  100% {
  }
  50% {
  }
}
.shrinkgrow {
  animation: shrinkgrow 10s ease-in-out infinite;
}

@keyframes spincircleinner {
  0% {
    transform: rotate(0deg) scale(1.4);
  }
  50% {
    transform: rotate(-180deg) scale(1);
  }
  100% {
    transform: rotate(-360deg) scale(1.4);
  }
}
.spincircleinner {
  animation: spincircleinner 10s linear infinite;
  transform-origin: center;
}
@keyframes spincircleouter {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.spincircleouter {
  animation: spincircleouter 10s linear infinite;
  transform-origin: bottom center;
}
.paused {
  animation-play-state: paused !important;
}
